.card {
    position: relative;
    height: 20rem;
    font-size: 2.5rem;
    border-radius: $border-rad;
    overflow: hidden;
    width: 100%;

    &:hover {
        box-shadow: rgba(255, 255, 255, 0.6) 0px 2px 8px 0px;
    }

    &:hover>&__overlay {
        opacity: 0.9;
        transform: translateX(0);

        @include desktop {
            opacity: 0.9;
        }
    }

    @include tablette {
        width: 47%;
    }

    @include desktop {
        width: 48%;
    }

    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $cl-white;
        opacity: 0;
        transform: translateX(-100%);
        transition: 0.5s;

        @include desktop {
            transform: translateX(0);
        }
    }

    &__heading {
        color: rgb(49, 49, 49);
        font-size: 2.5rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: inline-block;
        margin: 1rem 1rem 0;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        margin: 1rem;
        transition: 0.3s;

        &:hover {
            transform: scale(1.3);
        }
    }

    &__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: $cl-white;
        color: #444;
        padding: 0.5rem;
        border-top: #bbb 1px solid;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    &__skill {
        font-size: 1.4rem;
    }
}