@keyframes arrow {
    0% {
        left: 10rem;
    }

    100% {
        left: 13rem;
    }
}

.arrow {
    position: absolute;
    top: 25%;
    animation: arrow 0.5s infinite alternate-reverse;

    &__icon {
        background-image: URL("../pictures/svg/arrow-left-solid.svg");
        background-repeat: no-repeat;
        width: 3rem;
        height: 3rem;
    }
}

.nav-slider {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.25rem 5rem;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(0.73, 0.11, 0.67, 0.84), opacity 0.4s ease-out;
    background: $cl-gradient, $cl-black;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &__icons {
        position: relative;
    }

    &__img {
        border-radius: $border-rad;
        margin-bottom: 1.6rem;
        margin-right: 3rem;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            border-radius: 50%;
        }
    }

    &__p {
        margin: 1.6rem 0;
        font-size: 2rem;
        border-bottom: $cl-white 0.2rem solid;
        padding-bottom: 1.6rem;
    }

    &__link {
        font-size: 2.8rem;
        font-weight: 700;
        margin: 1.6rem 0;
        transition: all 0.4s;

        &:hover {
            padding-left: 2rem;
        }
    }

    .new_portfolio {
        color: #ccc;
    }
}