.main-container {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
    }
}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include desktop {
        margin-left: 2rem;
    }
}

.box-container {
    background: $cl-gradient;
    border-radius: $border-rad;
    padding: 0 1.5rem 2rem;
}

.projets {
    width: 100%;

    @include desktop {
        width: 100%;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}

.skill {
    margin-top: 2rem;
    width: 100%;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card {
        background-color: rgba(240, 248, 255, 0.3);
        margin: 1rem;
        padding: 1rem;
        border-radius: $border-rad;
        @include center;
        transition: 0.4s;

        &:hover {
            transform: rotate(7deg);
        }
    }

    &__img {
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }
}