$cl-main: #3a1bff;
$cl-white: #ffffff;
$cl-black: #000000;

$shadow: 0.1rem 0.1rem 0.5rem darken($cl-white, 10), -0.1rem -0.1rem 0.5rem $cl-white;
$inner-shadow: inset 0.1rem 0.1rem 0.5rem $cl-white, inset -0.1rem -0.1rem 0.5rem $cl-white;

$cl-gradient: linear-gradient(to left bottom, #6f00fa4d, #6632fc47, #6049fb7d, #5d5af996, #5e68f6bf, #3f77f796, #1e83f48a, #008dee6b, #0098e494, #00a0d69e, #19a6c68a, #4faab7b8);
$cl-gradient-1: linear-gradient(135deg, #73c8a9 0%, #373b44 17%, #73c8a9 35%, #373b44 70%, #73c8a9 88%);

$size-container: 85%;

$border-rad: 5px;
$border-clock: 5px;